.tic-tac-toe {
    margin: 0 auto;
    width: fit-content;
}

.game-board {
    width: 400px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    filter: blur(5px);
}

.tile {
    aspect-ratio: 1;
    border: 1px solid black;
    display: grid;
    place-items: center;
}

.fa-xmark {
    font-size: 7rem;
    color: red;
}

.fa-circle {
    font-size: 5rem;
    color: green;
}

.control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.control {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}