.tic-tac-toe {
    margin: 0 auto;
    width: fit-content;
    position: relative;
}

.game-board {
    width: 400px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    filter: blur(5px);
}

.tile {
    aspect-ratio: 1;
    border: 1px solid black;
    display: grid;
    place-items: center;
}

.fa-xmark {
    font-size: 7rem;
    color: red;
}

.fa-circle {
    font-size: 5rem;
    color: green;
}

.control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 150px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background-color: greenyellow;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text {
    font-size: 2rem;
    text-align: center;
}

.modal.choose-turn > div:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.prompt > div {
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.prompt > div:hover {
    cursor: pointer;
    background-color: yellow;
}

.prompt > :first-child {
    margin-bottom: 5px;
}

.hide {
    display: none;
}